* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}
[data-theme="light"] {
  --bg-theme: #fff;
  --text-theme: #000000;
}

[data-theme="dark"] {
  --bg-theme: #111827;
  --text-theme: #fff;
  .header {
    background: var(--bg-theme);
    &__logo {
      .menu-trigger {
        span {
          background-color: var(--text-theme);
        }
      }
    }
  }
  .small-card {
    ._img {
      background: #1d2735;
    }
  }
  .cards {
    ._category {
      background: #1d2735;
    }
  }
  .cta-row {
    background-color: #251e2b;
  }
  .best-city {
    &__container {
      background: #1d2735;
    }
  }
}

body {
  font-family: $font-main !important;
  color: var(--text-theme) !important;
  font-weight: var(--font-weight-main);
  background: var(--bg-theme) !important;
  line-height: 1.2;
  overflow-x: hidden;
  font-style: normal;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  position: relative;

  &._js-overflow-hidden {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

figure {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.main {
  overflow-x: hidden;
}
