// colors
:root {
  --white-color: #fff;
  --font-main: "Inter 28pt", sans-serif;
  --font-weight-main: normal;
  --color-red: #d85151;
  --color-black: #000000;
  --color-dark-grey: #4e5562;
  --color-light-black: #111827;
  --color-grey: #cad0d9;
  --color-mint: #eef1f6;
  --color-pink: #fbeeee;
}

$color-white: #fff;
$color-red: var(--color-red);
$color-black: var(--color-black);
$color-dark-grey: var(--color-dark-grey);
$color-light-black: var(--color-light-black);
$color-grey: var(--color-grey);
$color-mint: var(--color-mint);

// bg colors generator
$bg-colors: (
  dark: #000,
  grey: #f4f4f4,
  light-black: #111827,
  pink: #fbeeee,
);

._bg {
  @each $bg, $color in $bg-colors {
    &-#{$bg} {
      background-color: $color !important;
    }
  }
}

// var for main padding top and mob menu
$header: (
  "height": 81px,
);
$header-mob: (
  "height": 72px,
);

:root {
  @each $name, $number in $header {
    --header--#{$name}: #{$number};
  }
  @each $name, $number in $header-mob {
    @media (max-width: 1199.98px) {
      --header--#{$name}: #{$number};
    }
  }
}

// font-family & weight
$font-main: "Inter 28pt", sans-serif;
$font-weight-main: normal;

// transition speed
$ease300: all 0.3s ease;

// font sizes generator
$text-sizes: (
  "14": 14px,
  "16": 16px,
  "18": 18px,
  "20": 20px,
  "26": 26px,
  "32": 32px,
  "42": 42px,
  "56": 56px,
  "60": 60px,
  "72": 72px,
  "100": 100px,
);
$text-sizes-tablet: (
  "14": 14px,
  "16": 16px,
  "18": 17px,
  "20": 20px,
  "26": 20px,
  "32": 26px,
  "42": 36px,
  "56": 45px,
  "60": 42px,
  "72": 52px,
  "100": 60px,
);
$text-sizes-mob: (
  "14": 10px,
  "16": 14px,
  "18": 16px,
  "20": 18px,
  "26": 21px,
  "32": 20px,
  "42": 28px,
  "56": 34px,
  "60": 34px,
  "72": 44px,
  "100": 48px,
);

:root {
  @each $name, $size in $text-sizes {
    --fs-#{$name}: #{$size};
  }
  @each $name, $size in $text-sizes-tablet {
    @media (max-width: 991.98px) {
      --fs-#{$name}: #{$size};
    }
  }
  @each $name, $size in $text-sizes-mob {
    @media (max-width: 575.98px) {
      --fs-#{$name}: #{$size};
    }
  }
}

// padding generator
$paddings: (
  "25": 25,
  "50": 50,
  "75": 75,
  "100": 100,
  "125": 125,
  "150": 150,
);
$paddings-tablet: (
  "25": 25,
  "50": 40,
  "75": 60,
  "100": 80,
  "125": 100,
  "150": 120,
);
$paddings-mobile: (
  "25": 20,
  "50": 35,
  "75": 48,
  "100": 60,
  "125": 75,
  "150": 90,
);
@each $names, $space in $paddings {
  ._pv-#{$names} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }
  ._pt-#{$names} {
    padding-top: #{$space}px;
  }
  ._pb-#{$names} {
    padding-bottom: #{$space}px;
  }
}
@each $names, $space in $paddings-tablet {
  @media (max-width: 991.98px) {
    ._pv-#{$names} {
      padding-top: #{$space}px;
      padding-bottom: #{$space}px;
    }
    ._pt-#{$names} {
      padding-top: #{$space}px;
    }
    ._pb-#{$names} {
      padding-bottom: #{$space}px;
    }
  }
}
@each $names, $space in $paddings-mobile {
  @media (max-width: 375.98px) {
    ._pv-#{$names} {
      padding-top: #{$space}px;
      padding-bottom: #{$space}px;
    }
    ._pt-#{$names} {
      padding-top: #{$space}px;
    }
    ._pb-#{$names} {
      padding-bottom: #{$space}px;
    }
  }
}

// Margin  generator

$margins: (
  "25": 25,
  "50": 50,
  "75": 75,
  "100": 100,
  "125": 125,
  "150": 150,
);
$margins-tablet: (
  "25": 25,
  "50": 40,
  "75": 60,
  "100": 80,
  "125": 100,
  "150": 120,
);
$margins-mobile: (
  "25": 20,
  "50": 35,
  "75": 48,
  "100": 60,
  "125": 75,
  "150": 90,
);
@each $names, $space in $margins {
  ._mv-#{$names} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }
  ._mt-#{$names} {
    margin-top: #{$space}px;
  }
  ._mb-#{$names} {
    margin-bottom: #{$space}px;
  }
}

@each $names, $space in $margins-tablet {
  @media (max-width: 991.98px) {
    ._mv-#{$names} {
      margin-top: #{$space}px;
      margin-bottom: #{$space}px;
    }
    ._mt-#{$names} {
      margin-top: #{$space}px;
    }
    ._mb-#{$names} {
      margin-bottom: #{$space}px;
    }
  }
}
@each $names, $space in $margins-mobile {
  @media (max-width: 375.98px) {
    ._mv-#{$names} {
      margin-top: #{$space}px;
      margin-bottom: #{$space}px;
    }
    ._mt-#{$names} {
      margin-top: #{$space}px;
    }
    ._mb-#{$names} {
      margin-bottom: #{$space}px;
    }
  }
}

:root {
  --container: 100%;

  @media (min-width: 576px) {
    --container: 520px;
  }
  @media (min-width: 768px) {
    --container: 720px;
  }
  @media (min-width: 992px) {
    --container: 960px;
  }
  @media (min-width: 1200px) {
    --container: 1140px;
  }
  @media (min-width: 1400px) {
    --container: 1320px;
  }

  @media (min-width: 567px) and (max-width: 1679px) {
    --container: calc(100vw - 100px);
  }

  @media (min-width: 1680px) {
    --container: calc(100vw - 240px);
  }
  @media (max-width: 576px) {
    --sm-container: calc(100vw - 100px);
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  @include between-sm-xxxl {
    max-width: calc(100vw - 100px);
  }
  @include up-xxxl {
    max-width: calc(100vw - 240px);
  }
}
