.events {
  overflow: hidden;
  position: relative;
  .slick-slider {
    .slick-list {
      overflow: visible;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        border: 1px solid $color-grey;
        width: 80%;
        height: 110%;
        z-index: -1;
        border-radius: 8px;
        right: 50%;
        transform: translateX(-50%);
        top: -20px;
        left: 50%;
        @include down-sm {
          top: -12px;
        }
      }
    }
    .slick-arrow {
      bottom: -100px;
      @include down-sm {
        bottom: -70px;
      }
    }
    .slick-track {
      //overflow: visible;
    }
  }
  &__card {
    position: relative;
    aspect-ratio: 16/8;

    ._img {
      position: relative;
      height: 100%;

      &::before {
        position: absolute;
        content: "";
        background: $color-black;
        background: linear-gradient(
          0deg,
          rgb(0, 0, 0) 0%,
          rgb(255, 255, 255, 0) 100%
        );
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 8px;
      }
      img {
        height: inherit;
        border-radius: 8px;
      }
    }
    ._text {
      position: absolute;
      z-index: 2;
      left: 0;
      bottom: 0;
      padding: 80px;
      @include down-md {
        padding: 15px;
      }
      .icon-text {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 10px;
        .item {
          display: flex;
          align-items: center;
          gap: 4px;
          img {
            width: 14px;
            height: 14px;
            object-fit: contain;
          }
          p {
            span {
              color: $color-dark-grey;
            }
          }
        }
      }
    }
  }
}
