.slick-slider {
  .slick-slide {
    padding: 0 12px;
    height: auto;
  }
  .slick-list {
    margin: 0 -12px;
  }
  .slick-track {
    overflow: hidden;
  }
  .slick-dots {
    display: flex !important;
    justify-content: center;
    bottom: -50px;
    overflow-x: hidden;
    right: 50%;
    transform: translateX(50%);
    width: unset;

    li {
      margin: 0;
      &.slick-active button {
        background-color: $color-red;
      }

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 0;
        margin: 6px;
        border: none;
        border-radius: 100%;
        background-color: $color-dark-grey;
        text-indent: -9999px;
      }
    }
  }
  .slick-arrow {
    padding: 20px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-grey;
    font-size: 0;
    z-index: 5;
    top: unset;
    bottom: -120px;
    background-image: url("../../../public/img/side-arrow.svg") !important;
    background-position: center center !important;
    background-size: 7px !important;
    background-repeat: no-repeat !important;
    transition: $ease300;
    @include down-lg {
      bottom: -90px;
    }
    @include down-sm {
      padding: 15px;
      background-size: 5px;
    }
    &::before {
      content: "";
    }
    &:hover {
      background-color: $color-grey;
    }

    &.slick-prev {
      right: 50%;
      left: auto;
      background-image: url("../../../public/img/prev.svg") !important;
    }

    &.slick-next {
      right: calc(50% + -50px);
      left: auto;
    }
  }
}
