.slick-slider {
  .slick-slide {
    padding: 0 12px;
    height: auto;
  }
  .slick-list {
    margin: 0 -12px;
  }
  .slick-track {
    overflow: hidden;
  }
  .slick-dots {
    display: flex !important;
    justify-content: center;
    bottom: -50px;
    overflow-x: hidden;
    right: 50%;
    transform: translateX(50%);
    width: unset;

    li {
      margin: 0;
      &.slick-active button {
        background-color: $color-red;
      }

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 8px;
        height: 8px;
        padding: 0;
        margin: 6px;
        border: none;
        border-radius: 100%;
        background-color: $color-dark-grey;
        text-indent: -9999px;
      }
    }
  }
  .slick-arrow {
    padding: 30px;
    background-color: $color-white;
    border-radius: 50%;
    border: 1px solid $color-grey;
    font-size: 0;
    position: absolute;
    z-index: 5;
    bottom: 0;
    background-image: url("../../../public/img/side-arrow.svg");
    background-position: center center;
    background-size: 15px;
    background-repeat: no-repeat;
    transition: $ease300;
    &::before {
      content: "";
    }
    &:hover {
      background-color: $color-white;
      border: none;
    }

    &.slick-prev {
      right: calc(50% + 50px);
      left: auto;
    }

    &.slick-next {
      right: 50%;
      left: auto;
    }
  }
}
